@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: #121212;
  --foreground: #ECECEC;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: 'Pretendard', sans-serif;
}